
/*
*页面头部样式
*/
.header{
    width:1366px;
    margin: 0 auto;
}
.header .navbar-default{
    background-color: #2bbb59;
    border: none;
}
.header .navbar{
    border-radius: 0;
}
.navbar-right img{
    width:16px;
    margin-left:20px;
    margin-right:4px;
}
.header .navbar-right{
    font-family:Microsoft Yahei;
    font-size:12px;
    padding-top:35px;
    padding-right:10px;
}
/*
*左侧导航栏
*/
.nav-side{
    width:97px;
}
.nav-item img{
    display: block;
    margin:0 auto;
    margin-bottom: 8px;
}
.nav-item span{
    display: block;
    text-align: center;
    margin-bottom:35px;
}
/*
*页面内容区域
*/
.content{
    width:1366px;
    margin: 0 auto;
}
/*
*课程展示区---标题视图
*/
.coursetake .rows{
    margin-top:10px;
}
.grade .form-control,.grade-type .form-control,.course-status .form-control,.search .form-control{   
    width:175px;
}
.teachername{padding-left:35px;}
.search1 .form-control{
    border-bottom-left-radius: 5px!important;
    border-top-left-radius: 5px!important;
    width:123%!important;
}
.search2 .input-group-addon{
    background-color: #2bbb59;
    color: #fff;
}
.courseadd .btn-default{
    background-color: #2bbb59;
    color: #fff;
}
.viewmode .title img{
    width:13px;
    float:right;
    position:relative;
    top:2px;
    right:3px;
}
.viewmode .list img{
    width:13px;
    float:left;
    position:relative;
    top:2px;
    left:3px;
}
.viewmode .title{
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width:39px;
    height:18px;
    border:1px solid #2bbb59;
    background-color: #2bbb59;
}
.viewmode .list{
    display: inline-block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:39px;
    height:18px;
    border:1px solid #2bbb59;
    margin-left: -4px;
}
.course{
    border:1px solid #ddd;
    position: relative;
}
.is-approval{
    position: absolute;
    top:0;
    right:0;
} 
.coursetitleview .col-md-2{
    margin-bottom:20px;
}
.coursetitleview .img-circle{
    width:30px;
    margin-left:10px;
}
.coursename{
    width:171px;
    padding-left:10px;

}
.coursecover{
    width:171px;
}
.paging-btn{
    margin-top:-10px;
    padding-left:500px;
}
/*
*课程展示区---列表视图
*/
.courselistview{
    margin-top:20px;
}
.courselistview thead th{
    background-color: #f4f4f4
}
.courselistview tr:nth-child(even){    
    background-color: #f4f4f4
}
.courselistview tr:hover{
    background-color: #e2f9ff;
    
}
.courselistview .first-col{
    width:80px;
}
.courselistview th{
    text-align: center;
}
/*
*新增课程
*/
.nav-tabs .active a{
    background-color: #2bbb59!important;
}
.basicinfo .col-sm-6 .form-control{
    width:237px;
    display:inline-block;
}
.basicinfo-txt{
    margin-left:15px;
    margin-top:20px;
    margin-bottom: 20px;
}
.basicinfo .col-sm-12 .form-control{
    width:579px;
    display:inline-block;
    margin-bottom:15px;
}
.basicinfo .col-xs-6{
    padding-right: 0;
    padding-left: 0;
}
.basicinfo .col-xs-6 .form-control{
    width:123px;
    display:inline-block;
}
.basicinfo .coursecover{
    margin-top:30px;
    margin-left:15px;
    border:2px dashed #cccccc;
    height:195px;
    width:174px;
}
.basicinfo .coursecover-txt{
    width:193px;
    text-align: center;
}
.basicinfo .coursecover img{
    display: block;
    margin:73px auto;
}
.term-wrap{
    padding-left: 15px;
    padding-right: 15px;
}
.basicinfo .term{
    display: inline-block;
    padding-right:3px;
    padding-left:3px;
    height:34px;
    line-height: 34px;
    font-family:Microsoft Yahei;
    font-size:12px;
    margin-right:10px;
    border:1px solid #2bbb59;
    border-radius: 3px;
    position: relative;
}
.basicinfo .term .termchecked{
    position: absolute;
    top:-12px;
    right:0;
}
