
/*
*页面头部样式
*/
.header{
    width:1366px;
    margin: 0 auto;
}
.header .navbar-default{
    background-color: #2bbb59;
    border: none;
}
.header .navbar{
    border-radius: 0;
}
.navbar-right img{
    width:16px;
    margin-left:20px;
    margin-right:4px;
}
.header .navbar-right{
    font-family:Microsoft Yahei;
    font-size:12px;
    padding-top:35px;
    padding-right:10px;
}
/*
*左侧导航栏
*/
.nav-side{
    width:97px;
}
.nav-item img{
    display: block;
    margin:0 auto;
    margin-bottom: 8px;
}
.nav-item span{
    display: block;
    text-align: center;
    margin-bottom:35px;
}
/*
*页面内容区域
*/
.content{
    width:1366px;
    margin: 0 auto;
}
.nav-text{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    border-bottom:1px solid #e5e5e5;
    margin-bottom: 10px;
}
/*
*课程展示区---标题视图
*/
.coursetake .rows{
    margin-top:10px;
}
.grade .form-control,.grade-type .form-control,.course-status .form-control,.search .form-control{   
    width:175px;
}
.teachername{padding-left:35px;}
.search1 .form-control{
    border-bottom-left-radius: 5px!important;
    border-top-left-radius: 5px!important;
    width:123%!important;
}
.search2 .input-group-addon{
    background-color: #2bbb59;
    color: #fff;
}
.courseadd .btn-default{
    background-color: #2bbb59;
    color: #fff;
}
.viewmode .title img{
    width:13px;
    float:right;
    position:relative;
    top:2px;
    right:3px;
}
.viewmode .list img{
    width:13px;
    float:left;
    position:relative;
    top:2px;
    left:3px;
}
.viewmode .title{
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width:39px;
    height:18px;
    border:1px solid #2bbb59;
    background-color: #2bbb59;
}
.viewmode .list{
    display: inline-block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:39px;
    height:18px;
    border:1px solid #2bbb59;
    margin-left: -4px;
}
.course{
    border:1px solid #ddd;
    position: relative;
}
.is-approval{
    position: absolute;
    top:0;
    right:0;
} 
.coursetitleview .col-md-2{
    margin-bottom:20px;
}
.coursetitleview .img-circle{
    width:30px;
    margin-left:10px;
}
.coursename{
    width:171px;
    padding-left:10px;

}
.coursecover{
    width:171px;
}
.paging-btn{
    margin-top:-10px;
    padding-left:500px;
}
/*
*课程展示区---列表视图
*/
.courselistview{
    margin-top:20px;
}
.courselistview thead th{
    background-color: #f4f4f4
}
.courselistview tr:nth-child(even){    
    background-color: #f4f4f4
}
.courselistview tr:hover{
    background-color: #e2f9ff;
    
}
.courselistview .first-col{
    width:80px;
}
.courselistview th{
    text-align: center;
}
/*
*新增课程
*/
.courseadd .nav-tabs{
    padding-left:20px;
    border-bottom: 1px solid #2bbb59;
    padding-right:20px;
}
.nav-tabs .active a{
    background-color: #2bbb59!important;
}
.nav-tabs a{
    border-top: 1px solid #dddddd!important;
    border-right: 1px solid #dddddd!important;
    border-left: 1px solid #dddddd!important;
}
.basicinfo {
    margin-left:20px;
    border:1px solid #dddddd;
    margin-right:20px;
    padding-bottom:10px;
    margin-bottom:10px;
}
.basicinfo .col-md-7,.basicinfo .col-md-5{
    padding-left:0;
}
.basicinfo .col-6{
    width:49%;
    padding-left:15px;
    display: inline-block;
}
.basicinfo .col-6 .form-control{
    width:240px;
    display:inline-block;
}
.basicinfo .col-sm-6 .form-control{
    width:232px;
    display:inline-block;
}
.basicinfo-txt{
    margin-left:15px;
    margin-top:20px;
    margin-bottom: 20px;
}
.basicinfo .col-sm-12{
    padding-right: 5px!important;
}
.basicinfo .col-sm-12 .form-control{
    width:575px;
    display:inline-block;
    margin-bottom:15px;
}
.basicinfo .col-xs-6{
    padding-right: 0;
    padding-left: 0;
}
.basicinfo .col-xs-7,.basicinfo .col-xs-5{
    padding-right:0;
    padding-left:0;
}
.basicinfo .col-xs-7 .form-control,.basicinfo .col-xs-5 .form-control{
    width:95px;
    display:inline-block;
}
.basicinfo .coursecover{
    margin-top:30px;
    margin-left:15px;
    border:2px dashed #cccccc;
    height:195px;
    width:174px;
}
.basicinfo .coursecover-txt{
    width:193px;
    text-align: center;
}
.basicinfo .coursecover img{
    display: block;
    margin:73px auto;
}
.term-wrap{
    padding-left: 15px;
    padding-right: 15px;
}
.basicinfo .term{
    display: inline-block;
    padding-right:3px;
    padding-left:3px;
    height:34px;
    line-height: 34px;
    font-family:Microsoft Yahei;
    font-size:12px;
    margin-right:10px;
    border:1px solid #2bbb59;
    border-radius: 3px;
    position: relative;
}
.basicinfo .term .termchecked{
    position: absolute;
    top:-12px;
    right:0;
}
/*
*选课设置与管理选项卡
*/
.set-tab{
    border:1px solid #dddddd;
    border-bottom:1px solid #bde3c9!important;
    background-color: #d5f1de;
}
.courseset{
    padding-left:30px;
}
.classlist{
    margin-left:0;
    padding-left:0;
    list-style-type:none;    
      
}
.overflow-scroll{
    height:300px;
    overflow-y: auto;    
}
.overflow-scroll li:nth-child(even){
    background-color: #f8f8f8   ;
}
.classlist .classlist-txt{
    text-align: center;  
    background-color: #eeeeee;
}
.classlist li{
    height:25px;
    line-height: 25px;
    border:1px solid #dddddd;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Microsoft Yahei;
    font-size:12px;
}
.classaction{
    list-style-type: none;
    margin-left:0;
    padding-left:0;
    height:300px; 
    margin-top:30px;    
}
.classaction li{
     height:45px;
     line-height:40px;
     padding-left:50px;
     padding-right:15px;
}
.courseset .col-md-2{
    padding-left:0;
    padding-right:0;
}
.classaction .btn{
    width:100px;
}
.creditlimit{

}
.creditlimit .form-control,.stusum .form-control{
    width:100px;
    display: inline-block;
}