
/*通用样式*/
*{
  font-size: 14px;
  color: #333;
}
a,a:hover,a:visited,a:active,a:link{
  text-decoration: none;
}

/*
*页面头部样式
*/
.header{
    /*width:1366px;*/
    margin: 0 auto;
}
.header .navbar-default{
    background-color: #2bbb59;
    border: none;
}
.header .navbar{
    border-radius: 0;
}
.navbar-right i{
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: url('../imgs/header/icon.png') no-repeat;
}
.navbar-right a.editable i{
  background-position: 0 -20px;
}
.navbar-right a.quit i{
  background-position: 0 0;
}
.navbar-right img{
    width:16px;
    margin-left:20px;
    margin-right:4px;
}
.navbar-right a{
    color:#fff!important;
    display: inline-block;
    margin-left: 10px;
}
.header .navbar-right{
    font-family:Microsoft Yahei;
    font-size:14px;
    padding-top:35px;
    padding-right:10px;
}
/*
*左侧导航栏
*/
.col-md-1{
  width: 96px;
  margin-right: 10px;
}
.nav-side{
  background: #f2f2f2;
  padding: 10px 0;
  box-shadow: 0px 2px 5px #d9d9d9;
}
.nav-item{
  padding:15px 10px;
  display: block;
  position: relative;
  margin: 2px auto;
}
.nav-side a.active .nav-item,.nav-side a:hover .nav-item{
  background: #fff;
}
.nav-item img{
    display: block;
    margin:0 auto;
    margin-bottom: 8px;
}
.nav-item b{
  width: 7px;
  height: 18px;
  background: #000;
  position: absolute;
  margin-top: -5px;
  top: 50%;
  right: -7px;
  display: none;
  background: url('../imgs/sidenav/side.png') no-repeat center left;
}
.nav-side a.active .nav-item b,.nav-side a:hover .nav-item b{
  display: block;
}
.nav-item i{
  width: 40px;
  height: 40px;
  display: block;
  background: url('../imgs/sidenav/icon.png') no-repeat;
  margin: auto;
}
.nav-item#coursemanage i{
  background-position: 0 0;
}
.nav-item#coursetake i{
  background-position: 0 -40px;
}
.nav-item#clastudent i{
  background-position: 0 -80px;
}
.nav-item#teacher-profile i{
  background-position: 0 -120px;
}
.nav-item#permessionset i{
  background-position: 0 -160px;
}
.nav-item span{
    display: block;
    text-align: center;
}
.col-md-1{
  padding: 0;
}
/*
*页面内容区域
*/
.content{
    /*width:1366px;*/
    margin: 0 auto;
}
.nav-text{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    border-bottom:1px solid #e5e5e5;
    margin-bottom: 10px;
}
.coursetake td,.coursetake th{
    padding: 4px!important;
    vertical-align: middle!important;
    text-align: center;
}
/*
*页面弹窗样式区
*/
.newlyaddmask{
    z-index: 1;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    display:none;
}
.newlyaddpop{
    position: fixed;
    top:20%;
    left:20%;
    z-index: 2;
    width: 65%;
    border: 1px solid #2bbb59;
    display:none;
    background-color:#fff;
}
.newlyaddtitle{
    height:30px;
    line-height: 30px;
    width:100%;
    background: #2bbb59;
    padding:0 15px;
    box-shadow: 0px 15px 0px rgba(255,255,255,.1) inset;
    color:#fff;
}
.newlyaddtitle label{
    color:#fff;
}
.newlyaddtitle .close{
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.newlyaddcontent{
    padding:15px;
    background-color: #fff;
    overflow:hidden;
}
.newlyaddcontent .col-md-1{
    text-align: right;
    height:34px;
    line-height: 34px;
}
.newlyaddcontent .btn-default{
    background-color: #2bbb59;
    color: #fff;
}


*课程展示区---标题视图
*/
.courseplanadd .btn{
    border-color: #2bbb59;
    background-color: #2bbb59!important;
    color: #fff;
    margin-right: 5px;
    }
.courseplanadd{
    margin-left:15px;
}
.courseplanlist{
    margin-top:20px;
}
.courseplanlist thead th{
    background-color: #f4f4f4;
    text-align: center;
}
.courseplanlist tr:nth-child(even){
    background-color: #f4f4f4
}
.courseplanlist tr:hover{
    background-color: #e2f9ff;

}
.courseplanlist .first-col{
    width:5%;
}
.courseplanlist .btn{
    padding:2px;
    width: 31%;
    border: 1px solid #2bbb59;
    color: #fff;
    background-color:#2bbb59;
}
.courseplanlist .col-opertion{
    width:20%;
}
.coursetake .rows{
    margin-top:10px;
}
.coursetake .col-md-6{
    padding-right:0;
    width: auto;
}
.grade .form-control,.grade-type .form-control,.course-status .form-control{
    width:175px;
}
/*.teachername{padding-left:35px;}*/
.search1 .form-control{
    border-bottom-left-radius: 5px!important;
    border-top-left-radius: 5px!important;
}
.viewmode{
  float: right;
}
.search2 .input-group-addon{
    background-color: #2bbb59;
    color: #fff;
}
.search2 .glyphicon{
  color: #fff;
}
.search-wrap{
  width: auto;
}
.search-wrap .input-group{
  float: left;
}
.search-wrap .input-group-addon{
  background-color: #2bbb59;
  border-color: #2bbb59;
  color: #fff;
  height: 36px;
  width: 34px;
  float: left;
}
.search-wrap .input-group-addon span{
  color: #fff;
  line-height: 21px;
}
.search-wrap .search1{
  width: 120px;
}
.search-wrap .search2{
  width: 160px;
}
.search-wrap .search{
  border: 1px solid #ddd;
  border-radius: 3px 0 0 3px;
}
.search-wrap .search1{
  border-right: 1px solid #ddd;
}
.search-wrap input{
  border: none;
  float: left;
}
.courseadd .btn-default{
    border-color: #2bbb59;
    background-color: #2bbb59;
    color: #fff;
    margin-right: 5px;
    margin-left: 15px;
}

.viewmode .title img{
    width:13px;
    float:right;
    position:relative;
    top:2px;
    right:3px;
}
.viewmode .list img{
    width:13px;
    float:left;
    position:relative;
    top:2px;
    left:3px;
}
.viewmode .title{
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width:39px;
    height:18px;
    border:1px solid #2bbb59;
    background-color: #2bbb59;
}
.viewmode .list{
    display: inline-block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:39px;
    height:18px;
    border:1px solid #2bbb59;
    margin-left: -4px;
}
.course{
    border:1px solid #ddd;
    position: relative;
}
.course>p{
  overflow: hidden;
  clear: both;
  padding: 5px 10px 0 10px;
}
.course>p>span{
  color: #666;
  font-size: 12px;
  line-height: 30px;
}
.course>p i {
  /*头像*/
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  background-size: cover;
  margin-right: 10px;
}

.is-approval{
    position: absolute;
    top:0;
    right:0;
}
.coursetitleview .col-md-2{
    margin-bottom:20px;
}
/*.coursetitleview .img-circle{
    width:30px;
    margin-left:10px;
}*/
.coursename{
    width:100%;
    padding-left:10px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.coursecover{
    width:100%;
    position: relative;
}
.fileupload{
    position: absolute;
    top: 32%;
    left: 30%;
    opacity: 0;
    height: 70px;
    width: 65px;
}
.paging-btn{
    margin-top:-10px;
    padding-left:500px;
}
/*
*课程展示区---列表视图
*/
.courselistview{
    margin-top:20px;
}
.courselistview thead th{
    background-color: #f4f4f4
}
.courselistview tr:nth-child(even){
    background-color: #f4f4f4
}
.courselistview tr:hover{
    background-color: #e2f9ff;

}
.courselistview .first-col{
    width:80px;
}
.courselistview th{
    text-align: center;
}
/*
*新增课程
*/
.content .col-md-11 .ng-scope{
    clear:none!important;
}
.courseadd .nav-tabs{
    padding-left:20px;
    border-bottom: 1px solid #2bbb59;
    padding-right:20px;
}
.nav-tabs .active a{
    background-color: #2bbb59!important;
    color: #fff!important;
}
.nav-tabs a{
    border-top: 1px solid #dddddd!important;
    border-right: 1px solid #dddddd!important;
    border-left: 1px solid #dddddd!important;
}
.nav-tabs .glyphicon{
    position: absolute!important;
    top:3px;
    right:4px;
    display: none;
    color:#bcdbcd;
    cursor:pointer;
}
.basicinfo {
    margin-left:20px;
    border:1px solid #dddddd;
    margin-right:20px;
    padding-bottom:10px;
    margin-bottom:10px;
}
.basicinfo .col-md-7,.basicinfo .col-md-5{
    padding-left:0;
    padding-right: 0
}
.basicinfo .col-6{
    width:49%;
    padding-left:15px;
    display: inline-block;
}
.basicinfo .col-6 .form-control{
    width:75%;
    display:inline-block;
}
.basicinfo .col-sm-6 .form-control{
    width:75%;
    display:inline-block;
}
.basicinfo-txt{
    margin-left:15px;
    margin-top:20px;
    margin-bottom: 20px;
}
.basicinfo .col-sm-12{
    padding-right: 5px!important;
}
.basicinfo .col-sm-12 .form-control{
    width:87%;
    display:inline-block;
    margin-bottom:15px;
}
.basicinfo .col-xs-6{
    padding-right: 0;
    padding-left: 0;
}
.basicinfo .col-xs-7,.basicinfo .col-xs-5{
    padding-right:0;
    padding-left:0;
}
.basicinfo .col-xs-7 .form-control{
    width:52%;
    display:inline-block;
}
.basicinfo .col-xs-5 .form-control{
    width:73%;
    display:inline-block;
}
.basicinfo .coursecover{
    margin-top:30px;
    margin-left:15px;
    border:2px dashed #cccccc;
    height:195px;
    width:174px;
}
.basicinfo .coursecover-txt{
    width:193px;
    text-align: center;
}
.basicinfo .coursecover img{
    display: block;
    margin:73px auto;
}
.term-wrap{
    padding-left: 15px;
    padding-right: 15px;
}
.coursesetting .term{
    display: inline-block;
    padding-right:3px;
    padding-left:3px;
    height:34px;
    line-height: 34px;
    font-family:Microsoft Yahei;
    font-size:12px;
    margin-right:10px;
    border:1px solid #ddd;
    border-radius: 3px;
    position: relative;
}
.coursesetting .term-border{
    border:1px solid #2bbb59!important;
}
.coursesetting .term .termchecked{
    position: absolute;
    top:-12px;
    right:0;
}
.cutpadding {
    margin-top: -8px;
}
/*
*选课设置与管理选项卡
*/
.coursesetting{
    margin-left:20px;
    border:1px solid #dddddd;
    margin-right: 20px;
}
.coursesetting .form-group{
    margin-right: 0px!important;
     margin-left: 0px!important; 
    padding-top: 15px;
    margin-bottom: 0;
}
.coursesetting .graderow{
    margin-top:-7px;
}
.set-tabs{
    margin-left: 20px;
    border:1px solid #dddddd;
    border-bottom:1px solid #bde3c9!important;
    background-color: #d5f1de;
    margin-right: 20px;

}
.courseset{
    padding-left:30px;
}
.courseset .col-md-1{
    padding-left: 20px;
    padding-right: 6px;
}
.classlist{
    margin-left:0;
    padding-left:0;
    list-style-type:none;
    border: 1px solid #ddd;

}
.overflow-scroll{
    height:300px;
    overflow-y: auto;
}
.overflow-scroll li:nth-child(even){
    background-color: #f8f8f8   ;
}
.classlist .classlist-txt{
    text-align: center;
    background-color: #eeeeee;
}
.classlist .class{
    display: inline-block;
    padding-right:10px;
}
.classlist li{
    height:25px;
    line-height: 25px;
    border:1px solid #dddddd;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Microsoft Yahei;
    font-size:12px;
}
.classaction{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    height: 327px;
    padding-top: 30px;
    border: 1px solid #ddd;
}
.classaction li{
     height:45px;
     line-height:40px;
     padding-left:32px;
     padding-right:15px;
}
.courseset .col-md-2{
    padding-left:0;
    padding-right:0;
}
.classaction .btn{
    width:100px;
}
.creditlimit{
    padding-left: 16px;
}
.stusum{
    padding-left: 2px;
}
.gender{
    padding-left: 17px;
}
.priortaking{
    padding-left: 3px;
}
.creditlimit .form-control,.stusum .form-control,.gender .form-control{
    width:100px;
    display: inline-block;
}
.priorstudent{
    margin-left: -30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 28px;
}
.priorstudent .close{
    float:left!important;
    font-family: Microsoft Yahei;
    font-size:12px;
    margin-right:7px;
    opacity: 0.7;
    background-color: #f8eaea;
    padding-bottom: 5px;
    padding-top:5px;
    margin-bottom: 3px;
    margin-top: 3px;
}
.priorstudent .form-group{
    margin-bottom:8px;
}
.priorstudent .stulist{
    margin-left:50px;
    width:800px;
    border-top:1px solid #dddddd;
}
.coursestatus {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.coursestatus .status{
    width:105px;
    height:34px;
    line-height: 34px;
    text-align: center;
    font-family: Microsoft Yahei;
    font-size:14px;
    background-color: #ccc;
    color:#fff;
    display:inline-block;
    margin-right:10px;
}
.coursestatus .delete{
    width:105px;
    height:34px;
    line-height: 34px;
    text-align: center;
    font-family: Microsoft Yahei;
    font-size:14px;
    background-color: #ff6767;
    color:#fff;
    display:inline-block;
}
/*
*时间设置标签
*/
.timeset .form-horizontal{
    margin-left: 50px;
    margin-top: 15px;
}
.timeset .col-md-1{
    padding-right:0;
    padding-left:0;
    text-align: right;
    padding-top:5px;
}
.timeset .col-md-3{
    margin-right:-65px;
}
/*
*学生管理选项卡
*/
.mask{
    z-index: 1;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    display:none;
}
.pop-addstudent{
    width:1084px;
    /*height:720px;*/
    border:1px solid #2bbb59;
    position:fixed;
    top: 18%;
    left: 16%;
    background-color: #fff;
    z-index: 2;
    display:none;
}
.pop-addstudent .title{
    background-color:#2bbb59;

    height:42px;
    line-height: 42px;
    color:#fff;
    width:1084px;

}
.pop-addstudent .col-md-1{
    padding-left: 50px;
}
.pop-addstudent .col-md-2{
    padding-right:0;
}
.pop-addstudent .stu-sift{
    margin-top:10px;
}
.pop-addstudent .stu-sift .col-md-2 .form-control{
    display:inline-block;
    width:117px;
}
.pop-addstudent .stu-detail{
    margin-right:15px;
    margin-left:15px;
}
.stu-sift .col-md-3 {
    margin-left: -19px;
}
.stu-sift .input-group-addon{
    background-color: #2bbb59;
    color: #fff;
}
.stu-content thead th{
    background-color: #eeeeee;
    text-align: center;
}
.stu-content tr{
    text-align: center;
}
.stu-content tr:nth-child(even){
    background-color:#f8f8f8;
}
.stu-content .btn{
    padding:2px;
    width:80px;
}
.stu-content .paging-btn{
    margin-top: -20px;
    padding-left: 365px;
}
/*
*学生管理标签
*/
.studentmanage{
    margin-left:5px;
    margin-top:30px;
}
.studentmanage thead th{
    background-color: #eeeeee;
    text-align: center;
}
.studentmanage tr{
    text-align: center;
}
.studentmanage tr:nth-child(even){
    background-color:#f8f8f8;
}
.studentmanage .btn{
    padding: 0px;
    width: 30%;    
}
.studentmanage .btn-delete{
    background-color: #fff;
    color:#2bbb59;
}
.studentmanage .col-operation {
    width:15%;
}
.studentmanage .paging-btn{
    margin-top:-20px;
    padding-left: 33%;
}
.studentmanage .pagination{
    margin:0px;
}
/*
*选课任务管理页面
*/
.tasklistview .col-md-9,.tasklistview .col-md-3{
    padding-right:0px;
    padding-left:0px;
    
}
.tasklistview .table{
    margin-right:2px;
    margin-left:2px;
    margin-bottom: 2px;
    margin-top:10px;
}
.tasklisttitle,.stulisttitle{
    height: 34px;
    background-color: #2bbb59;
    text-align: center;
    font-family: Microsoft Yahei;
    font-size:14px;
    line-height: 34px;
    color:#fff;
    margin-bottom:10px;
}
.tasklistview .tasksift .col-md-3,.tasklistview .tasksift .col-md-2{
    padding-left:5px;
    padding-right:5px;
}
.tasklistview .tasklist,.studentlist{
    margin-right:5px;
    border: 2px solid #2bbb59;
    border-radius: 5px;
}
.tasklistview .tasksift .form-control{
    width:73%;
}
.tasklistview .tasksift .btn,.studentlist .btn{
    background: #2bbb59;
    color: #fff;
}
.studentlist .form-group,.tasklist .form-group{
    margin-bottom: 10px!important;
}
.studentlist .col-sm-6{
    padding-right:0;
    padding-left:0;
}
.studentlist select.form-control {
    width:73%;
    padding-right:2px;
    padding-left:2px;
}
.studentlist input.form-control{
    width:73%;
    padding-right:2px;
    padding-left:2px;
}
.tasklistview .newlyaddpop{
    width:47%!important;
}
/*
*选课结果页面courseresult.html
*/
td.col-left{
    text-align: left;
}
td.col-right{
    text-align: left;
}
.selcoursecontent{
    margin-top:20px;
    
}
.stunames-wrap{
    width: 60%;
    height: 100px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-left: 15px;
}
.selcourse .col-sm-8 {
    padding: 2px;
}
.selcourse .btn {
    padding: 0;
    font-size: 12px;
    margin:2px;
}
.selcoursecontent .close {
    font-size: 12px;
}

.remarkpop{
    position: fixed;
    top: 20%;
    left: 27%;
    z-index: 2;
    width: 48%;
    border: 1px solid #2bbb59;
    display: none;
    background-color: #fff;
}
.remarkcontent{
    margin-top:20px;
    margin-bottom:20px;
}
.remarkcontent textarea.form-control {
    display: inline-block!important;
    width: 80%;
    height: 100px;
    overflow-y: auto;
}
.remarkcontent input.form-control {
    width: 80%;
    display: inline-block!important;
}
.studentlist-height{
    height:450px;
    overflow-y: auto;
}