<div class="coursetake" ng-controller="CourseTakeCtrl">
    <div class="nav-text">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>  当前位置：课程管理 > 课程列表
    </div>
    <div class="form-inline">
        <div class="rows">
            <div class="col-md-6">
                <div class="form-group grade">
                    <label for="sift" >筛选：</label>
                    <select class="form-control input-att" id="sift" ng-model="grade" ng-init="grade='000000'">
                        <option value="000000">全部年级</option>
                        <option ng-repeat="grade in gradeList" value="{{$index+1}}">{{grade}}</option>
                    </select>
                </div>
                <div class="form-group grade-type">
                    <select class="form-control input-att" ng-model="gradeType" ng-init="gradeType='000000'">
                        <option value="000000">全部类别</option>
                        <option ng-repeat="gradeType in gradeTypeList" value="{{$index+1}}">{{gradeType}}</option>
                    </select>
                </div>
                <div class="form-group course-status">
                    <select class="form-control input-att" ng-model="courseStatus" ng-init="courseStatus='000000'">
                        <option value="000000">全部状态</option>
                        <option ng-repeat="courseStatus in courseStatusList" value="{{$index+1}}">{{courseStatus}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 search-wrap">
                <div class="from-group teachername">
                    <div class="input-group search">
                        <input class="search1 form-control" type="text">
                        <input class="search2 form-control" type="text">
                    </div>
                    <span class="input-group-addon" ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                </div>
            </div>
            <!-- <div class="col-md-2">
                <div class="from-group teachername">
                    <div class="input-group search1">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="from-group">
                    <div class="input-group search2">
                        <input type="text" class="form-control">
                        <span class="input-group-addon"  ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="">
        <div class="rows">
            <div class="col-md-1 courseadd">
                <a ui-sref="courseadd" class="btn btn-default"><img src="imgs/home/add.png"> 新增课程</a>
            </div>
            <div class="col-md-2 col-md-offset-9">
                <div class="viewmode">
                    <a ui-sref="home"><span class="title"><img src="imgs/home/title.png"></span></a>
                    <span class="list"><img src="imgs/home/list.png"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="courselistview">
        <div class="col-md-11">
        <table class="table table-bordered text-center">
            <thead class="text-center">
                <tr>
                    <th class="first-col">序号</th>
                    <th>课程名称</th>
                    <th>授课老师</th>
                    <th>课程年级</th>
                    <th>课程类别</th>
                    <th>课程状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >1</td>
                    <td>趣味数学</td>
                    <td>张凡羽</td>
                    <td>一年级</td>
                    <td>否</td>
                    <td>未审核</td>
                    <td>查看详情</td>
                </tr>
               <!-- <tr ng-repeat="course in courseList">
                    <td >{{$index+1}}</td>
                    <td>{{course.}}</td>
                    <td>{{course.}}</td>
                    <td>{{course.}}</td>
                    <td>{{course.}}否</td>
                    <td>{{course.}}</td>
                    <td>{{course.}}</td>
                </tr>         -->
            </tbody>
        </table>
        </div>
    </div>
    <div class="paging-btn">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
