<div class="coursetake" ng-controller="CourseShowCtrl">
    <div class="nav-text">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>  当前位置：课程管理 > 课程列表
    </div>
    <div class="form-inline">
        <div class="rows  clr">
            <div class="col-md-6">
                <div class="form-group grade">
                    <label for="sift" >筛选：</label>
                    <select class="form-control input-att" id="sift" ng-model="grade" ng-init="grade='000000'">
                        <option value="000000">全部年级</option>
                        <option ng-repeat="grade in gradeList" value="{{$index+1}}">{{grade}}</option>
                    </select>
                </div>
                <div class="form-group grade-type">
                    <select class="form-control input-att" ng-model="gradeType" ng-init="gradeType='000000'">
                        <option value="000000">全部类别</option>
                        <option ng-repeat="gradeType in gradeTypeList" value="{{$index+1}}">{{gradeType}}</option>
                    </select>
                </div>
                <div class="form-group course-status">
                    <select class="form-control input-att" ng-model="courseStatus" ng-init="courseStatus='000000'">
                        <option value="000000">全部状态</option>
                        <option ng-repeat="courseStatus in courseStatusList" value="{{$index+1}}">{{courseStatus}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 search-wrap">
                <div class="from-group teachername">
                    <div class="input-group search">
                      <input class="search1 form-control" type="text" placeholder="教师名字">
                      <input class="search2 form-control" type="text" placeholder="课程名称">
                    </div>
                    <span class="input-group-addon" ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                </div>
            </div>
            <!-- <div class="col-md-2">
                <div class="from-group teachername">
                    <div class="input-group search1">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="from-group">
                    <div class="input-group search2">
                        <input type="text" class="form-control">
                        <span class="input-group-addon"  ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="rows clr functional">
      <div class="btn-wrap">
        <a ui-sref="coursereview" class="btn btn-default"><img src="imgs/home/add.png"> 课程评价</a>
      </div>
      <span class="viewmode">
        <a class="title-view" ui-sref="homeicon"><i></i></a>
        <a class="list-view active"><i></i></a>
      </span>
        <!-- <div class="col-md-1 courseadd">
          <a ui-sref="courseadd" class="btn btn-default"><img src="imgs/home/add.png"> 新增课程</a>
        </div>
        <div class="col-md-2 col-md-offset-9">
            <div class="viewmode">
                <span class="title"><img src="imgs/home/title.png"></span>
                <a ui-sref="homelist"> <span class="list"><img src="imgs/home/list.png"></span> </a>
            </div>
        </div> -->
    </div>
    <div class="clearfix"></div>
    <div class="courselistview">
        <div class="col-md-11">
        <table class="table table-bordered text-center">
            <thead class="text-center">
                <tr>
                    <th class="first-col">序号</th>
                    <th>课程名称</th>
                    <th>授课老师</th>
                    <th>课程学期</th>
                    <th>课程类别</th>
                    <th>课程状态</th>
                    <th>审核状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="course in courseList">
                    <td >{{$index+1}}</td>
                    <td>{{course.couName}}</td>
                    <td>{{course.couThrNms}}</td>
                    <td>{{course.termNms}}</td>
                    <td>{{courseTypeList[course.couType]}}</td>
                    <td  id="CourseState" courseid="{{course.selCouId}}" stateid="{{course.couState}}" change-course-state>{{courseStateList[course.couState]}}</td>
                    <td  id="AuditState" courseid="{{course.selCouId}}" stateid="{{course.audit}}" change-course-state>{{courseAuditList[course.audit]}}</td>
                    <td>
                        <a ng-click="viewCourse(course.selCouId)">查看详情</a>
                        <a ng-click="deleteCourse(course.selCouId)">删除</a>
                    </td>
                </tr>         
            </tbody>
        </table>
        </div>
    </div>
    <div class="newlyaddmask" ng-style="maskPop"></div>
    <div class="detailcoursepop" ng-style="detailCourse">
        <div class="newlyaddtitle">
            <label>
                课程详情
            </label>
            <div class="pull-right">
                <span class="glyphicon glyphicon-remove close" aria-hidden="true" ng-click="closePop()"></span>
            </div>
        </div>
        
        <div class="detailcourse">
            <div class="coursename">
                {{courseName}}的课程详情
            </div>
            <ul class="nav nav-tabs basic-tabs" role="tablist">
        <li role="presentation" class="active" id="courseinfo" ><a href="" aria-controls="home" role="tab" data-toggle="tab">课程信息</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane courseinfo active" id="courseinfo">
            <div class="basicinfo">
                <div class="rows">
                    <div class="col-md-9">                        
                        <div class="rows">
                            <div class="basicinfo-txt">课程基本信息</div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="">课程名称：</label>
                                    <input type="text" class="form-control" ng-model="courseName" disabled>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="">课程编号：</label>
                                    <input type="text" class="form-control" ng-model="courseNO" disabled>
                                </div>
                            </div>
                        </div>       
                        <div class="rows">
                            <div class="col-sm-12">
                                <label for="">课程简介：</label>
                                <textarea class="form-control" rows="5" ng-model="courseMemo" placeholder="限三百字以内" disabled></textarea>
                            </div>
                        </div>                 
                        <div class="rows">
                            <div class="col-sm-6">
                                <div class="form-group">
                                   <label for="">课程类别：</label>
                                    <input type="text" class="form-control" ng-model="courseType" disabled>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">课程教师：</label>
                                    <input type="text" class="form-control" ng-model="courseTeacher" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="rows">
                            <div class="col-sm-6">
                                <div class="form-group">
                                   <label for="">父课程名：</label>
                                    <input type="text" class="form-control" ng-model="parentName" disabled>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">社会机构：</label>
                                    <input type="text" class="form-control" ng-model="socName" disabled>
                                </div>
                            </div>
                        </div>
                        
                </div>
                <div class="col-md-3">
                    <div class="coursecover">
                        <img src="imgs/coursecovers/coursecross.png">
                        <input type="file" class="fileupload" >
                    </div>
                    <div class="coursecover-txt">                        
                        设置课程封面
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>            
        </div>
        
        </div>
    </div>
<!-- 选课设置与管理区-->
    <ul class="nav nav-tabs" role="tablist" config-tab>
                <li role="presentation" class="active" id="courseset" ng-click="switchSetTabs($event)"><a href="" aria-controls="courseset" role="tab" data-toggle="tab">选课设置</a></li>
    </ul>
    <div class="coursesetting">        
        <div class="tab-content">
            <div role="tabpanel" id="courseset">
                <form class="form-horizontal">
                    <div class="form-group">
                                <div class="col-md-1">
                                    <label class="checkbox-inline">适用学期：</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" ng-model="_terms" placeholder="学期" disabled>
                                </div>
                    </div>
                    <div class="form-group graderow">
                        <div class="col-md-1">
                            <label class="checkbox-inline">
                                适用年级：
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" ng-model="_grades" placeholder="年级" disabled>
                        </div>                     
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-1">
                            <label class="checkbox-inline">适用班级：
                            </label>
                        </div>
                         <div class="col-md-8">
                            <input class="form-control" ng-model="_classes" placeholder="班级" disabled>
                        </div>
                    </div>
                    <div class="form-group credit">
                        <div class="col-md-1">
                            <label class="checkbox-inline">单期学分：</label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="credit1" placeholder="优秀" disabled>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="credit2" placeholder="良好" disabled>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="credit3" placeholder="及格" disabled>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="creditMin" placeholder="最低学分" disabled>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group levelratio">
                        <div class="col-md-1">
                            <label class="checkbox-inline">等级比率：</label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="lvRate1" placeholder="优秀" disabled>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="lvRate2" placeholder="良好" disabled>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="lvRate3" placeholder="及格" disabled>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                    <div class="form-group studentnumlimit">
                        <div class="col-md-1">
                            <label class="checkbox-inline">人数限制：</label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="manMin" placeholder="人数下限" disabled>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="manMax" placeholder="人数上限" disabled>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="boyMin" placeholder="男生下限" disabled>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="boyMax" placeholder="男生上限" disabled>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group studentnumlimit">
                        <div class="col-md-1">
                            <label class="checkbox-inline"></label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="girlMin" placeholder="女生下限" disabled>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="girlMax" placeholder="女生上限" disabled>
                        </div>
                        <div class="col-md-7"></div>
                    </div>
                </form>            
            <div class="coursestatus">
                    <div class="status">{{auditState}}</div>
                    <div class="delete" ng-click="closePop()">关闭</div> 
            </div> 
            </div>
               
        </div>            
    </div>
        </div>
    </div>
    
</div>
