<div class="" ng-controller="TestCtrl">
        <!--<div class="rows">
            <div class="col-md-6">
                <ol class="list-group">
                    <li class="list-group-item" ng-dblclick="addToTarget(srcClass)" ng-repeat="srcClass in srcClassList">{{srcClass}}</li>
                </ol>
            </div>
            <div class="col-md-6">
                <ol class="list-group">
                    <li class="list-group-item" ng-repeat="tarClass in tarClassList">{{tarClass}}</li>
                </ol></div>
        </div>-->
        <div class="row">
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
</div>
</ul>
</div>